.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.order-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.App > div {
  padding: 5px;
}
.Order {
  min-width: 120px;
}
